@model Mixer

<!DOCTYPE html>
<html>
<head>
    <title>Create Mix</title>
    <script src="/js/site.js"></script>
    <link href="/css/site.css" rel="Stylesheet" />
</head>
<body>
    <div>

        @using (Html.BeginForm("AddMixToDatabase", "Mix", FormMethod.Post))
        {



            <div class="index-container">
                <h2 class="createmix-h2">Create a New Mix</h2>
                <label asp-for="@Model.NewMix.Name" class="label">Mix Name:</label>
                <input asp-for="@Model.NewMix.Name" class="form" />
                <button style="margin-bottom:40px;" type="submit">Create Mix</button>
            </div>


            <h5 class="createmix-h5">Here Are the Sounds Selected for Your Mix:</h5>
            <ul>
                @foreach (var sound in Model.SelectedSounds)
                {
                    <li class="createmix-list">
                        <img class="image" src="~/@sound.ImagePath" alt="@sound.Description">
                        <span class="quish-purple" sound-id="@sound.SoundID">@sound.Name</span>
                    </li>
                }
            </ul>

            @foreach (var sound in Model.SelectedSounds)
            {
                <input type="hidden" name="NewMix.SelectedSoundIDs" value="@sound.SoundID" />
            }
        }
    </div>
</body>
</html>